body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.main_container {
  width: 550px;
  height: 900px;
  border: 1px solid black;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text {
  text-align: center;
  color: #3e4797;
  font-size: 32px;
  font-weight: 100;
}

.image {
  width: 30px;
  margin-left: 24px;
  margin-right: 197px;
}

.checkbox {
  width: 20px;
  height: 20px;
}

.text_checkbox {
  font-weight: 400;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 20px;
}

.menu_container {
  width: 155px;
  height: 720px;
  background: rgba(217, 217, 217, 0.9);
  padding-top: 40px;
}

.checkbox_block {
  margin-top: 10px;
}

.radio_block {
  margin-top: 50px;
}

.radio {
  width: 20px;
  height: 20px;
}

.content_container {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin-left: 5%;
}

.items {
  margin: 10px;
  display: inline-block;
}

.circle {
  border-radius: 100%;
  width: 100px;
  height: 100px;
}

.squares {
  width: 100px;
  height: 100px;
}

.dark {
  opacity: 0.5;
}

.red {
  background: #db2c2c;
}

.red_dark {
  background: #7b0a0a;
}

.green {
  background: #5cb69b;
}

.green_dark {
  background: #175744;
}

.yellow {
  background: #dcc655;
}

.yellow_dark {
  background: #936409;
}

.blue {
  background: #5a7dd6;
}

.blue_dark {
  background: #291a82;
}
